/* ------------------
 * gobal settings
 * --------------- */
body {
	background: url(images/bg.jpg) top repeat-x;
	border-width: 0px;
   	padding: 0px;
   	margin-left:auto;
	margin-right:auto;
	width:75%;
   	font-size: 80%;
}
#header {
	position:relative;
	margin-left:10px;
	margin-top:10px;
	height:180px;
}
#content{
	position:relative;
	margin-top:10px;
}

/* ------------------
 * header
 * --------------- */
#title {
	position:absolute;
	margin-top:66px;
	margin-left:400px;
	margin-bottom:0px;
	width:55%;
	font-family:Georgia;
	font-size:115%;
	color:white;
}

.subpage{
	position:relative;
	float:left;
	margin-top:30px;
	margin-left:38px;
}
#subpages{
	position:absolute;
	margin-left:350px;
	margin-top:80px;
	width:500px;
}

#header img {
	border:1px solid #000;
	float:left;
	margin-right:5px;
	width:180px;
	height:180px;	
}

.imagehover:hover {
	opacity: 0;
	filter: alpha(opacity = 0);
}

.navlink {
	line-height:16px;
	display: block;
	padding-left: 57px; 
	height: 53px; 
	text-decoration: none; 
	color: #000;
}

a {
	color:#0066ff;
	text-decoration:none;
}

/* ------------------
 * piratex
 * --------------- */
.piratex {
	float:left;
	position:relative;
        margin-bottom:20px;
        margin-right:10px;
	width:300px;
	height:150px;
	background-color:#000;
	color:#fff;
}
.piratex>img {
	margin-right:5px;
	border:1px solid #000;
	width:150px;
	height:148px;
	float:left;
}


.memberDetail {
	height:140px;
	padding:5px;
}
.links {
	position: absolute;
	float: right;
	top: 100px;
	right: 10px;
}
.links img{
	width:20px;
	height:20px;
}

/* ------------------
 * footer 
 * --------------- */
#footer {
	clear:both;
    	margin-top: 5px;
    	padding: 5px 0;
    	text-align: left;
	border-top:1px solid #EBEBEB;
}
